<div>
  <h1>Bugman</h1>

  <div><a class="index--link"
    title="Linkedin"
    href="https://linkedin.com/in/william-bergamo-14822860" target="_blank">
    {{fa-icon "linkedin-square" size=4}}
  </a></div>
  <div><a class="index--link"
    title="Twitter"
    href="https://twitter.com/bugduino" target="_blank">
    {{fa-icon "twitter" size=4}}
  </a></div>
  <div><a class="index--link"
    title="Github"
    href="https://github.com/bugduino" target="_blank">
    {{fa-icon "github-alt" size=4}}
  </a></div>
  <div><a class="index--link"
    title="Keybase"
    href="https://keybase.io/bugman" target="_blank">
    {{fa-icon "key" size=4}}
  </a></div>
</div>

<div>
  <h3>Projects</h3>
  <ul class="index--projectsList">
    <li>
      {{#link-to 'twocket'}}
        Twocket - live twitter stream on a map
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'cnc'}}
        Cnc feed and speed calculator
      {{/link-to}}
    </li>
  </ul>
</div>
{{outlet}}
